{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Information</title>
	<link rel="stylesheet"  href="{% static 'Style.css' %}">
</head>

<style type="text/css">	
.About{
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgba(94, 86, 86, 0.5);
   background-size: 60%;
	width: 100%;
	height: 300px;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 80%;
}
.TT{
	text-align: center;
 	color: #fff;
 	font-size: 50px;}
</style>
<body>
<div class="home">
	<nav class="manu">
	<div id="logo">
		<img class="logo" src="{% static 'log.jpg' %}">
	</div>
	<ul>
		<li><a class="manu-item"  href="https://www.researchs.com.ng/">Research</a></li>
		<li><a class="manu-item"  href="/profile">Profile</a></li>
        
		<li><a class="manu-item"  href="/index">Home</a></li>
	</ul>
</nav>	
<br>
<br>

<div class="TT">
	<p >  University Library</p>
	 
</div>
<div class="About">
	<P>We are students from cairo university,<br>where the objective of this university library is to support the academic programmes of the university,<br>
		 By providing relevant information,<br>so as to respond to the ever-increasing information demands of the users, <br>who comprise the students and the academic staff of the university. 
		The 21st Century poses radical challenges to the university libraries that the overall functions and services are influenced regularly </P>
	</div>
	</div>
	</body>
	</html>
	