{% load static %}
<div class="LastText">
		<nav class="manu">
	<div id="logo">
		<img class="logo" src="{% static 'log.jpg'%}">
		
	</div>
	<ul>
		<li><a class="manu-item"  href="#">Research</a></li>
		<li><a class="manu-item"  href="#">Profile</a></li>
		<li><a class="manu-item"  href="#">Contacts</a></li>
		<li><a class="manu-item"  href="#">About</a></li>
		<li><a class="manu-item"  href="#">Home</a></li>
	</ul>
</nav>
<br>
<br>
<br>

<p >
	<h3 id="Contact" class="text3">Connect with us: +020102556385</h3>
</p>
<br><br><br><br>
<div class="box2">
	
</div>

</div>
</div>
